{# empty Twig template #}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}HandStory{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ asset('image/favicon.png') }}" />
    {% block stylesheets %}
      {# On charge le CSS de bootstrap depuis le site directement #}
      <link rel="stylesheet" href="{{ asset('css/style.css') }}">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    {% endblock %}
  </head>

  <body>
        <header class="row">
            <p  class="col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-offset-1 col-sm-3 col-xs-12 centerTel"><a href="{{ path('hb_handball_homepage') }}"><img id="logo" src="{{ asset('image/logo_handstory.png') }}" alt="Logo"/></a></p>
            <p class="col-lg-offset-3 col-lg-1 col-md-offset-3 col-md-1 col-sm-offset-1 col-sm-2 col-xs-12 centerTel menu2" ><a  class="lienMenu" href="{{ path('hb_handball_category') }}">Catégories</a></p>
            <div class="col-lg-4  col-md-4 col-sm-5 col-xs-12 centerTel menu">
                <form action="{{ path('hb_handball_search') }}" method="post" class="form-inline">
                    <div class="input-append">
                        <input name="recherche" type="text"  class="form-control" placeholder="Titre ou Catégorie" />
                        <input type="submit" name="search" class="btn btn-primary" value="Rechercher">
                    </div>
                </form>
            </div>
        </header>
                  
        <div class="block container">
            <div class="row">
                {% block body %}
                {% endblock %}  
            </div>
        </div>
        
        <footer class="row">
            <p  class="col-lg-offset-1 col-lg-1 col-md-offset-1 col-md-1 col-sm-offset-1 col-sm-2"><a href="{{ path('hb_handball_homepage') }}">Acceuil</a></p>
            <p class="col-lg-1 col-md-1 col-sm-2" ><a href="{{ path('hb_handball_category') }}">Catégories</a></p>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <p class="col-lg-offset-3 col-lg-2 col-md-offset-3 col-md-2 col-sm-offset-4 col-sm-4 connected">Connecté en tant que {{ app.user.username }}</p>
                <p class="col-lg-2 col-md-2 col-sm-2"><a href="{{ path('hb_handball_admin') }}">Administration</a></p>
                <p class="col-lg-2 col-md-2 col-sm-2"><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></p>
            {% else %}
                <p class="col-lg-offset-7 col-lg-2 col-md-offset-7 col-md-2 col-sm-offset-4 col-sm-2"><a href="{{ path('fos_user_security_login') }}">Connexion</a></p>
            {% endif %}
            <p class="col-lg-12 col-md-12 col-sm-12 center">Ce site a été fait sous Symfony 3.4 dans le cadre d'un projet personel</p>
        </footer>  



  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="https://code.jquery.com/jquery-1.9.1.js" integrity="sha256-e9gNBsAcA0DBuRWbm0oZfbiCyhjLrI6bmqAl5o+ZjUA=" crossorigin="anonymous"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
  {% endblock %}

  </body>
</html>