{# empty Twig template #}
{% extends "HBHandballBundle::layout.html.twig" %}

{% block body %}
    <div>
        <p><a href="{{ path('fos_user_registration_register') }}">Inscrire un(e) nouvel(le) administrateur(trice)</a></p>
        <p><a href="{{ path('fos_user_change_password') }}">Changer de mot de passe</a></p>
    </div>
    <div>
        <p><a href="{{ path('hb_handball_add_post') }}">Ajouter un post</a></p>
        <p><a href="{{ path('hb_handball_add_category') }}">Ajouter une catégorie</a></p>
        <p><a href="{{ path('hb_handball_category_admin') }}">Les Catégories</a></p>
    </div>    
{% endblock %} 
{# empty Twig template #}{# empty Twig template #}
