{# empty Twig template #}
{% extends "HBHandballBundle::layout.html.twig" %}

{% block body %}
    <div class="col-lg-6 col-md-6">
        <h2 class="titrePost">Administration Utilisateur</h2>
        <p class="col-lg-12 col-md-12"><a href="{{ path('fos_user_registration_register') }}">Inscrire un(e) nouvel(le) administrateur(trice)</a></p>
        <p class="col-lg-12 col-md-12"><a href="{{ path('fos_user_change_password') }}">Changer de mot de passe</a></p>
    </div>
    <div class="col-lg-6 col-md-6">
        <h2 class="titrePost">Administration du Site</h2>
        <p class="col-lg-12 col-md-12"><a href="{{ path('hb_handball_category_admin') }}">Modération des catégories</a></p>
        <p class="col-lg-12 col-md-12"><a href="{{ path('hb_handball_add_post') }}">Ajouter un post</a></p>
        <p class="col-lg-12 col-md-12"><a href="{{ path('hb_handball_add_category') }}">Ajouter une catégorie</a></p>
    </div>    
{% endblock %} 
{# empty Twig template #}{# empty Twig template #}
