{# empty Twig template #}
{% extends "HBHandballBundle::layout.html.twig" %}

{% block body %}
    <div>
        {% for post in posts%}
            <p>{{ post.title}}</p>
            <p>{{ post.content}}</p>
            <p><img src="{{ asset(post.image.uploadDir ~ '/' ~ post.image.id ~ '.' ~ post.image.url) }}" alt='{{ post.image.alt}}' /></p>
            <p>{{ post.category.name}}</p>
            <p><a href="{{ path('hb_handball_onlyOne', {'id':post.id}) }}">Voir plus...</a></p>
            
        {% endfor %}
    </div>
{% endblock %} 