{# empty Twig template #}
{% extends "HBHandballBundle::layout.html.twig" %}

{% block body %}
    <div>
            <p class="col-lg-12 center photoPost"><img class="imgPost" src="{{ asset(post.image.uploadDir ~ '/' ~ post.image.id ~ '.' ~ post.image.url) }}" alt='{{ post.image.alt }}' /></p>
            <p class="col-lg-12 center titrePost">{{ post.title}}</p>
            <p class="col-lg-12 center contentPost">{{ post.content|raw }}</p>    
            <p class="col-lg-12"><a class="lienUpdatePost" href="{{ path('hb_handball_updatePost', {'id':post.id}) }}">Modifier</a></p>
            <p class="col-lg-12"><a class="lienUpdatePost" href="{{ path('hb_handball_delete', {'id':post.id}) }}">Supprimer</a></p>
    </div>

{% endblock %}           
